#backend-calendar.backend-calendar{
  background: rgba(0,0,0,0.75);
  min-height: 100vh;
  min-width: 100vw;

  .calendar-place{
    border-color: $backend;
  }

  .calendar-tile:hover{
    background: $backend;
  }
}