body::-webkit-scrollbar{
  display: none;
}
#app {
  width: 100%;
  min-height: 100vh;
  background: url("../assets/christmas_town.svg");
  background-size: auto 100%;

}

.calendar-heading{
  margin-left: auto;
  margin-right: auto;

  padding-top: 5vh;
  height: 25vh;
  width: 100vh;

  text-align: center;
  color: white;
  font-size: 4em;

  .subheading{
    font-size: .5em;
  }
}

.calendar-place{
  background-color: black;
  border-top: 1px solid white;
  margin: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  &_heading{
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding: 25px;
  }
}

.calendar{
  margin: 25px;
  
  align-items: center;
  justify-content: center;

  &-tile-container{
    display: inline-flex;

    margin: 3px 3px;

    overflow: hidden;
    border-radius: 10px;
    border: 1px solid white;

    justify-content: center;
    align-items: center;
  }

  &-tile{
    width: 150px;
    height: 150px;
    display: flex;

    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 2em;

    background: rgba(0,0,0,0);
    color: white;

    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
  }
}

footer{
  .jumbotron{
    text-align: center;
    margin: 15px 15px 15px 0;
    color: white;
    padding: 5px;
    background-color: #111;
  }
}